<header>
    <ul>
      
     
      <li id="logout"><a  name="logout"  [routerLink]="['/logout']" [routerLinkActive]="['actived']" *ngIf="login" >Cerrar Sesion</a></li>
      <li class="logo"><a href="#" [routerLinkActive]="['actived']">logo</a></li>
      <li id="login"><a  [routerLink]="['/login']" [routerLinkActive]="['actived']">Iniciar Sesion</a></li>
      <li><a [routerLink]="['/Carrito']" [routerLinkActive]="['actived']" *ngIf="login" >Carrito</a></li>
      
    </ul>
    </header>
    
    <section  id="content">
    <router-outlet></router-outlet>
    </section>
    
    <footer>
        E-Commerce FactorIT
    </footer>