/* PARA AGREGAR FUENTES PERSONALIZADAS 
@font-face{
	font-family:"";
	src:url("fonts/.ttf");
}
*/
*{
	margin:0px;
	padding: 0px;
}
body {
	font-family:Arial;
	font-size:19px;
	/*background:url(); Despues lo agregamos*/
	background-attachment: fixed;
	
}
.clearfix{
	float:none;
	clear:both;
}
/*NAV*/
header{
	display: block;
	width: 100%;
	height: 90px;
	background: rgba(84, 2, 160, 0.68);
	position:fixed;
	text-transform: uppercase;
}

header ul 
{
	display:block; 
	width:750px;
	height: inherit;
	margin:0px auto;
}

header ul li 
{
	display: inline-block;
	margin:0px auto;
	line-height: 90px;
	text-align: center;
	cursor:pointer;
}

header  a{
	display: block;
	padding-right: 20px;
	padding-left: 20px;
	height: inherit;
	text-decoration: none;
	color:white;
	transition: all 300ms; 

}

header a:hover,
.actived{
	background: rgba(0,0,0,0.8);
}
/*logo*/
 #logo a:hover
{
	background: transparent;
	color:black ;
	transform: scale(1.50,1.50);
}
 #logo
{
	font-family: Times New Roman;
	font-size: 30px
}

#logo a 
{
	transition:color 500ms, transform 500ms ;
}

/*contenedor*/
#content
{
	width:75%;
	margin: 0px auto;
	box-shadow: 0px 0px 40px black;
	background: rgba(255, 255 ,255 ,0.7);
	border-left: 1px solid #b7b7b7;
	padding-top: 120px;
}

footer 
{
	width:75%;
	margin: 0px auto;
	padding-top: 15px;
	color: rgba(0,0,0,0.5);
}

#titulo
{
	width:70%;
	margin:0px auto;
	text-align:center;
	margin-top:20px;
	margin-bottom:50px;

}
