<header>
    <ul>
      
      <li class="logo"><a href="#" [routerLinkActive]="['actived']">Commerce logo</a></li>
      <li><a [routerLink]="['/Carrito']" [routerLinkActive]="['actived']">Carrito</a></li>
      <li><a [routerLink]="['/login']" [routerLinkActive]="['actived']">Iniciar Sesion</a></li>
      <li><a [routerLink]="['/logout']" [routerLinkActive]="['actived']">Cerrar Sesion</a></li>
      
    </ul>
    </header>
    
    <section  id="content">
    <router-outlet></router-outlet>
    </section>
    
    <footer>
        E-Commerce FactorIT
    </footer>