
<div class="login">
	<form class="custom-form" method="post">
	  <h1>Login</h1>
	  <input
		type="text"
		[(ngModel)]="nombre"
		name="nombre"
		placeholder="Nombre"
		required="required"
	  /><br>
	  <input
		type="password"
		[(ngModel)]="contrasena"
		name="contraseña"
		placeholder="Contraseña"
		required="required"
	  /><br>
	  <button type="submit" (click)="onLogin(nombre,contrasena)">Iniciar sesion</button>
	</form>
  </div>
  
<div class="container">	
	<ul>
		<li *ngFor="let prod of prods" class="project">
			<div class="image">
				<h1>{{prod.idproducto}}</h1>
				<a (click)="agregarCarrito(prod.idproducto,prod.precio)"><img src="{{prod.img}}" /></a>
				</div>
				<h3>{{prod.nombre}}</h3>
				<p>{{prod.precio}}</p>
			
		</li>
	</ul>
</div>
